h1{
	font-family:Arial; /* style de la police */
	font-size:16px ; /* taille de la police */
	color:#0000ff ; /* couleur de la police */
	background-color: ; /* couleur du fond */
	text-align:center ; /* alignement horizontal du texte */
}
h2{
	font-family: "Times New Roman", serif ; /* style de la police */
	font-size:14px ; /* taille de la police */
	color:#00ff00 ; /* couleur de la police */
	background-color: #ffffff ; /* couleur du fond */

}
h6{
	font-family:Helvetica, sans-serif ; /* style de la police */
	font-size:12px ; /* taille de la police */
	color:#0000ff ; /* couleur de la police */
	background-color: ; /* couleur du fond */
}
body{
	background-color:#bb4444 ;
    margin: 0px 40px 10px 70px;
}
p{
    margin: 5px 50px 5px 50px;
}
footer{
    font-size: 11px;
	bottom : 0 ; /*positionnement du bloc à gauche en bas de page */
	text-align : center;
} 
ul.volet {
	color : lightblue; /*#add8e6*/
	background-color:
	font-family : "Trebuchet MS";
	font-weight : bold;
}
img.transparent {
	opacity : 0.6; /* CSS3 */
	filter(opacity)=60; /* Pour IE , Internet Explorer */
}
jeux{
    font-size: 12px;
    color: #FFFFFF；   
}
form{
    text-align:center;
    font-family: Italic;
    color: #00FF00;
}
